[user]
    name = monmon
    email = lesamoureuses@gmail.com
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    hist = log --pretty=format:\"%h %ai | %s%d [%an]\" --graph --date=short
[core]
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
