[user]
    name = monmon
    email = lesamoureuses@gmail.com
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    hist = log --pretty=format:\"%h %ai | %s%d [%an]\" --graph --date=short
    unstage = reset HEAD --
    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --stat --abbrev-commit
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
[core]
    excludesfile = ~/.gitignore
    quotepath = false
    pager = "nkf -w | LESSCHARSET=utf-8 LESS=-R less"
[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = cyan
[diff]
	noprefix = true
[pager]
    log = diff-highlight | nkf -w | LESS=-R less
    show = diff-highlight | nkf -w | LESS=-R less
    diff = diff-highlight | nkf -w | LESS=-R less
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
